<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG DJANGO GIRLS</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum blablabalablablalbalbablalbablalbabl blablabbla</p>
    </div>
    
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum blablabalablablalbalbablalbablalbabl blablabbla</p>
    </div>

</body>
</html>